.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}


.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  justify-content: space-evenly;
}
.grid-item {
  height: 20vh;
  padding-top: 20%;
  padding-bottom: 10%;
  margin: auto;
}
.center {
  text-align: center;
  margin: 20px;
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    justify-content: center;
    display: grid;
  }
  .grid-item {
    height: 5vh;
  }
}
